<footer class="footer mt-5">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="ri-facebook-box-fill"></i>
            <i class="ri-twitter-x-fill"></i>
            <i class="ri-linkedin-box-fill"></i>
        </div>
        <div class="f-info-brand">&copy; Planora Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>